flows/vegard.json
[{"id":"eb4c9cde.876d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d75a0445.fe05a8","type":"rpi-sensehat in","z":"eb4c9cde.876d","name":"","motion":false,"env":true,"stick":false,"x":260,"y":140,"wires":[["63db7260.d9532c"]]},{"id":"63db7260.d9532c","type":"ui_gauge","z":"eb4c9cde.876d","name":"Temp","group":"ccb02b42.3760b8","order":0,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"units","format":"{{msg.payload.temperature}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":140,"wires":[]},{"id":"5ee6d512.38e78c","type":"debug","z":"eb4c9cde.876d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":600,"wires":[]},{"id":"3980693b.4a9126","type":"camerapi-takephoto","z":"eb4c9cde.876d","filemode":"1","filename":"photo1.JPEG","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"1","flipv":"1","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take photo","x":490,"y":600,"wires":[["5ee6d512.38e78c"]]},{"id":"48248c8.c50c574","type":"ui_template","z":"eb4c9cde.876d","group":"ccb02b42.3760b8","name":"","order":2,"width":"6","height":"8","format":"<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/photo1.JPEG',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 5000);\" style=\"padding:40px; margin-bottom: 40px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n Take a photo<br>\n</md-button>\n\n<div style=\"margin-bottom:40px;\">\n <img src=\"/photo1.JPEG\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":200,"y":600,"wires":[["3980693b.4a9126"]]},{"id":"7a1f490e.d722e8","type":"inject","z":"eb4c9cde.876d","name":"personTrigger","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":80,"y":500,"wires":[[]]},{"id":"8f184d92.4171e","type":"ui_text","z":"eb4c9cde.876d","group":"ccb02b42.3760b8","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload[0].name}}","layout":"row-spread","x":570,"y":500,"wires":[]},{"id":"ccb02b42.3760b8","type":"ui_group","name":"Group 1","tab":"42fe9dbf.b247c4","order":1,"disp":true,"width":6},{"id":"42fe9dbf.b247c4","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
