flows/webcam.json
[
    {
        "id": "dea81e80.168c9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f71408a5.4736c8",
        "type": "rpi-sensehat in",
        "z": "dea81e80.168c9",
        "name": "",
        "motion": false,
        "env": true,
        "stick": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "ca426bd2.5bd1a8",
                "c37f707e.47cfd",
                "10991eea.389bb1"
            ]
        ]
    },
    {
        "id": "ca426bd2.5bd1a8",
        "type": "ui_gauge",
        "z": "dea81e80.168c9",
        "name": "",
        "group": "2b6ae8d3.27a5d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "Degrees Celcius",
        "format": "{{msg.payload.temperature}}",
        "min": "-20",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "c0fdd207.4bdb3",
        "type": "inject",
        "z": "dea81e80.168c9",
        "name": "Repeater",
        "topic": "",
        "payload": "Temperature",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "efe69723.4b4048"
            ]
        ]
    },
    {
        "id": "efe69723.4b4048",
        "type": "exec",
        "z": "dea81e80.168c9",
        "command": "fswebcam -r 1280x720 --no-banner /home/pi/httpstatic/picture.jpg",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "2",
        "oldrc": false,
        "name": "",
        "x": 720,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c37f707e.47cfd",
        "type": "ui_gauge",
        "z": "dea81e80.168c9",
        "name": "",
        "group": "2b6ae8d3.27a5d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "%Percent",
        "format": "{{msg.payload.humidity}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "1a875bfe.06ca54",
        "type": "ui_template",
        "z": "dea81e80.168c9",
        "group": "8aee0adf.364888",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"margin-bottom:0px;\">\n <img src=\"/picture.jpg?{{msg.payload}}\" id=\"photo\" width=\"1280px\" height=\"720px\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 540,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3227fd44.c97c92",
        "type": "inject",
        "z": "dea81e80.168c9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "1a875bfe.06ca54"
            ]
        ]
    },
    {
        "id": "10991eea.389bb1",
        "type": "ui_gauge",
        "z": "dea81e80.168c9",
        "name": "",
        "group": "2b6ae8d3.27a5d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Pressure Gauge",
        "label": "Millibar (mbar)",
        "format": "{{msg.payload.pressure}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "3dc1261f.8fb1fa",
        "type": "comment",
        "z": "dea81e80.168c9",
        "name": "Command repeater",
        "info": "These two nodes do the following:\n\nThe repeater sends a signal every 10 seconds\n(does not matter what signal)\nthe signal triggers the command node\n\nThe command node gets a signal and executes the\ncommand, the command in this node is for using\nthe pi's connected webcamera to take a screenshot\nand save it as picture.jpg under home/pi/httpstatic",
        "x": 130,
        "y": 200,
        "wires": []
    },
    {
        "id": "f5ff9ef5.eef34",
        "type": "comment",
        "z": "dea81e80.168c9",
        "name": "Picture url refresher",
        "info": "The picture URL refresher has two nodes,\n\nThe timestamp node sends a timestamp to the\ntemplate node every 10 seconds\n\nThe template node is displaying an image with \na source of /picture.jpg?{{msg.payload}} \nThis refers to the picture.jpg stored under \n/home/pi/httpstatic and the {{msg.payload}} takes \nthe timestamp from the timestamp node and puts it\nin the source url AFTER the questionmark.\n\n\n^ Without the URL refresh the browser would simply\ncache the image, and even when asked to refresh\nit would see that the source of the image is the\nsame, and thus not refresh the image. (unless the\nentire page is loaded again by MANUALLY refreshing)",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "32db32cc.9f627e",
        "type": "comment",
        "z": "dea81e80.168c9",
        "name": "Gauges",
        "info": "Pretty simple, Sense HAT node gathers data\nfrom the raspberry pi's sense hat and sends\nseveral variables\n\nThe gauges pick up on certain variables to display\nTemperature, Humidity and Air Pressure",
        "x": 90,
        "y": 80,
        "wires": []
    },
    {
        "id": "2b6ae8d3.27a5d8",
        "type": "ui_group",
        "z": "",
        "name": "Enviroment Gauges",
        "tab": "81353706.743708",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8aee0adf.364888",
        "type": "ui_group",
        "z": "",
        "name": "Live image",
        "tab": "81353706.743708",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "81353706.743708",
        "type": "ui_tab",
        "z": "",
        "name": "CabinHAT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
