flows/webcam.json
[
    {
        "id": "dea81e80.168c9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3c1931d3.e2d246",
        "type": "http in",
        "z": "dea81e80.168c9",
        "name": "",
        "url": "/hello-file",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "98a70b3d.61b66"
            ]
        ]
    },
    {
        "id": "98a70b3d.61b66",
        "type": "file in",
        "z": "dea81e80.168c9",
        "name": "",
        "filename": "/home/pi/httpstatic/picture.jpg",
        "format": "",
        "sendError": true,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "43be8955.79e768"
            ]
        ]
    },
    {
        "id": "43be8955.79e768",
        "type": "change",
        "z": "dea81e80.168c9",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "image/png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "873419ae.5defe8"
            ]
        ]
    },
    {
        "id": "873419ae.5defe8",
        "type": "http response",
        "z": "dea81e80.168c9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "f71408a5.4736c8",
        "type": "rpi-sensehat in",
        "z": "dea81e80.168c9",
        "name": "",
        "motion": false,
        "env": true,
        "stick": false,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "ca426bd2.5bd1a8",
                "c37f707e.47cfd"
            ]
        ]
    },
    {
        "id": "ca426bd2.5bd1a8",
        "type": "ui_gauge",
        "z": "dea81e80.168c9",
        "name": "",
        "group": "2b6ae8d3.27a5d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "Degrees Celcius",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "c0fdd207.4bdb3",
        "type": "inject",
        "z": "dea81e80.168c9",
        "name": "Repeater",
        "topic": "",
        "payload": "Temperature",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 720,
        "wires": [
            [
                "efe69723.4b4048"
            ]
        ]
    },
    {
        "id": "efe69723.4b4048",
        "type": "exec",
        "z": "dea81e80.168c9",
        "command": "fswebcam -r 1280x720 --no-banner /home/pi/httpstatic/picture.jpg",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "2",
        "oldrc": false,
        "name": "",
        "x": 780,
        "y": 720,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c37f707e.47cfd",
        "type": "ui_gauge",
        "z": "dea81e80.168c9",
        "name": "",
        "group": "2b6ae8d3.27a5d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "%Percent",
        "format": "{{msg.payload.humidity}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 400,
        "wires": []
    },
    {
        "id": "1a875bfe.06ca54",
        "type": "ui_template",
        "z": "dea81e80.168c9",
        "group": "8aee0adf.364888",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"margin-bottom:0px;\">\n <img src=\"/picture.jpg?{{msg.payload}}\" id=\"photo\" width=\"1280px\" height=\"720px\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 540,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3227fd44.c97c92",
        "type": "inject",
        "z": "dea81e80.168c9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 820,
        "wires": [
            [
                "1a875bfe.06ca54"
            ]
        ]
    },
    {
        "id": "2b6ae8d3.27a5d8",
        "type": "ui_group",
        "z": "",
        "name": "Enviroment Gauges",
        "tab": "81353706.743708",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8aee0adf.364888",
        "type": "ui_group",
        "z": "",
        "name": "MAIN GROUP",
        "tab": "81353706.743708",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "81353706.743708",
        "type": "ui_tab",
        "z": "",
        "name": "CabinHAT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
