flows/webcam.json
[{"id":"dea81e80.168c9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3c1931d3.e2d246","type":"http in","z":"dea81e80.168c9","name":"","url":"/hello-file","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["98a70b3d.61b66"]]},{"id":"98a70b3d.61b66","type":"file in","z":"dea81e80.168c9","name":"","filename":"/home/pi/httpstatic/picture.jpg","format":"","sendError":true,"x":340,"y":100,"wires":[["43be8955.79e768"]]},{"id":"43be8955.79e768","type":"change","z":"dea81e80.168c9","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":100,"wires":[["873419ae.5defe8"]]},{"id":"873419ae.5defe8","type":"http response","z":"dea81e80.168c9","name":"","statusCode":"","headers":{},"x":750,"y":100,"wires":[]},{"id":"f71408a5.4736c8","type":"rpi-sensehat in","z":"dea81e80.168c9","name":"","motion":false,"env":true,"stick":false,"x":180,"y":360,"wires":[["ca426bd2.5bd1a8"]]},{"id":"ca426bd2.5bd1a8","type":"ui_gauge","z":"dea81e80.168c9","name":"","group":"8aee0adf.364888","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"Degrees Celcius","format":"{{msg.payload.temperature}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":360,"wires":[]},{"id":"e30a7446.182b58","type":"exec","z":"dea81e80.168c9","command":"fswebcam -r 1280x720 --no-banner /home/pi/httpstatic/picture.jpg","addpay":false,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"","x":660,"y":560,"wires":[[],[],[]]},{"id":"c0fdd207.4bdb3","type":"inject","z":"dea81e80.168c9","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":560,"wires":[[]]},{"id":"895d87ad.3f95f8","type":"ui_button","z":"dea81e80.168c9","name":"","group":"8aee0adf.364888","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":220,"y":640,"wires":[["e30a7446.182b58"]]},{"id":"96b43795.8c73c8","type":"ui_template","z":"dea81e80.168c9","group":"8aee0adf.364888","name":"","order":3,"width":0,"height":0,"format":"<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/picture.jpg',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 1000);\" style=\"padding:40px; margin-bottom: 40px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n Take a photo<br>\n</md-button>\n\n<div style=\"margin-bottom:40px;\">\n <img src=\"/picture.jpg\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":620,"y":660,"wires":[["e30a7446.182b58"]]},{"id":"8aee0adf.364888","type":"ui_group","name":"Group 1","tab":"e15ec4c2.546dc8","order":1,"disp":true,"width":6},{"id":"e15ec4c2.546dc8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
